<div class="container mt-2">
    <h3 align="center" class="title">List of All the Countries in Our Database</h3>
    <div class="d-flex justify-content-center row col-md-12 mt-2">
        <div class="col-md-3 p-5 m-3" style="background-color: green; color:white;" *ngFor="let country of countries " routerLink="/detail/{{country.id}}">
            <h5><strong>{{country.name}}</strong></h5>
            <span>capital</span><br>
            <span>({{country.capital}})</span>
        </div>
    </div>
</div>